header{
    background: #3cc2ee;
    width: 100%;
    height: 100px;
}

header nav {
    line-height: 100px;
    h2{
        line-height: 100px;
    }
}
.col-8{
    cursor: pointer;
    user-select: none;
}
span.logo{
    display: inline-block;
    background: #ffffff;
    color: black;
    line-height: 80px;
    width: 80px;
    height: 80px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}
span#count-badge{
    display: inline-block;
    background: red;
    font-size: 15px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    color: #ffffff;
    text-align: center;
}

div.station{
    position: relative;
    text-align: center;
    width: var(--w);
}
span.station-point{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #3cc2ee;
    border-radius: 100%;
    outline: #3cc2ee 2px solid;
    border: #ffffff 2px solid;
    z-index: 5;
}
span.station-point::before{
    content: "";
    top: 0;
    position: absolute;
    display: block;
    width: var(--w);
    z-index: -1;
    height: 5px;
    transform: translateY(100%) translateX(-50%);
    background: #3cc2ee;
}
div.d-flex:first-child div.station:first-child span.station-point::before{
    width: calc(var(--w) / 2);
    transform: translateY(100%);
}
div.d-flex:last-child div.station:last-child:nth-child(even) span.station-point::before{
    width: calc(var(--w) / 2);
    transform: translateY(100%) translateX(-100%);
}
div.d-flex:last-child div.station:last-child:nth-child(odd) span.station-point::before{
    width: calc(var(--w) / 2);
    transform: translateY(100%) translateX(-100%);
}
span.connect-line:nth-child(odd){
    position: absolute;
    height: 100px;
    width: 10px;
    background: #3cc2ee;
    right: 0;
}
span.connect-line:nth-child(even){
    position: absolute;
    height: 100px;
    width: 5px;
    background: #3cc2ee;
    transform: translate(-8px ,-40px);
    right: 0;
}